.a-propos-page {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        padding: 0 20px;
    }
}

.collapses-contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 40px 110px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        gap: 20px;
        padding: 20px 0;
    }
}