.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 223px;

    @media (max-width: 768px) {
        justify-content: left;
        height: 111px;
    }

    &_image {
        display: block;
        position: absolute;
        order: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;

        @media (max-width: 768px) {
            border-radius: 10px;
        }
    }

    &_darken {
        position: absolute;
        order: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 25px;

        @media (max-width: 768px) {
            border-radius: 10px;
        }
    }

    &_title {
        position: absolute;
        order: 1;
        font-size: 48px;
        color: white;

        @media (max-width: 1024px) {
            font-size: 35px;
        }

        @media (max-width: 768px) {
            width: 217px;
            font-size: 24px;
            left: 17px;
        }
    }
}