$primary-color : #FF6060;


.error-page {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    box-sizing: border-box;
    color : $primary-color;
    text-align: center;

    @media (max-width: 768px) {
        padding: 0 20px;
    }

    &_title {
        font-size: 288px;
        font-weight: 700;
        padding: 50px 0;

        @media (max-width: 768px) {
            font-size: 96px;
            padding: 85px 0;
        }
    }

    &_txt {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 36px;
        padding: 50px 0;

        @media (max-width: 1085px) {
            flex-direction: column;
        }

        @media (max-width: 768px) {
            gap: 5px;
            font-size: 18px;
            padding: 20px 0;
        }
    }

    &_link {
        font-size: 18px;
        color : $primary-color;
        text-decoration: underline;
        padding: 100px 0 140px 0;

        @media (max-width: 768px) {
            font-size: 14px;
            padding: 100px 0 115px 0;
        }
    }
}