$primary-color : #FF6060;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;

    &_logo {
        height: 68px;
        width: auto;
    }

    &_nav {
        display: flex;
        column-gap: 65px;
    }

    &_not-selected-link {
        color: $primary-color;
        text-decoration: none;
        font-size: 24px;
    }

    &_selected-link {
        color: $primary-color;
        text-decoration: none;
        font-size: 24px;
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
    }
}