.host {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    width: 100%;

    &_name {
        color: #FF6060;
        font-size: 18px;
        line-height: 26px;
        text-align: right;
    }

    &_picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
}