.logement-page {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    box-sizing: border-box;
}

.fiche-logement {
    display: flex;
    flex-direction: column;
    gap : 25px;
}

.main-contener {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 80%;
        color : #FF6060;

        &_title {
            font-size: 36px;
            line-height: 51px;
        }

        &_location {
            font-size: 18px;
            line-height: 26px;
        }

        &_tags {
            display: flex;
            gap: 10px;
            padding: 20px 0 ;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        width: 20%;
        gap: 25px;
    }
}

.collapse-contener {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 130px;
    box-sizing: border-box;
    margin: -20px 0 -10px 0;
    padding: 0 15px;

    &_column {
        width: 50%;
    }
}