* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.page-contener {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
}